/Bank Managment System/build/
/Bank Managment System/dist/
/Buildings_Inheritance/nbproject/private/
/Buildings_Inheritance/build/
/Buildings_Inheritance/dist/
/Movie Review Management System/nbproject/private/
/Movie Review Management System/build/
/Movie Review Management System/dist/
/Bank/nbproject/private/
/Bank/dist/
/Bank/build/
/Mini Paint/nbproject/private/
/Mini Paint/build/
/Mini Paint/dist/
/PrimeNumbers_Threads/nbproject/private/
/PrimeNumbers_Threads/build/
/PrimeNumbers_Threads/dist/
/Bank_Threads/nbproject/private/
/Bank_Threads/build/
/Bank_Threads/dist/
/Paint_Vol_2/nbproject/private/
/Paint_Vol_2/build/
/Paint_Vol_2/dist/
*.class
